.bar-head{
    background: #fff;
    height: 60px;
    padding: 15px;
}

body {
    background: linear-gradient(to bottom, #1487cb 25%, #1f5cc0 100%);
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    min-height: 100vh;
    padding: auto;
    font-size: 1rem;
}
.logos-black {
    position: absolute;
    display: block;
    left: 42%;
    margin-top: -15px;
}
.log-links {
    padding-bottom: 9px ;
    padding-right: 30px;
    position: absolute;
    right: 0;
    top: 13px;
    text-align: left;

}

.log-user {
    display: inline-block;
    line-height: 0.1;
}

.logos-user {
    margin-top: -15px;
    width: 31%;
}


.logout {
    padding: 10px 40px 10px 15px;
    background: #fff;
    position: absolute;
    width: 152px;
    top: 130%;
    left: -15px;
    border-top: 1px solid #ddd;
    font-size: 13px;
    display: none;
}

.log-user:hover + .logout {
    display: block;
}
.content-search{
    scroll-margin-bottom: 100px;
    font-size: 40px;
    font-weight: 300;
    width: 100%;
    height: 80px;
    border-radius: 7px;
    text-align: center;
    padding: 20px 40px;
}

.content-footer{
    text-align: center;
    padding: 10px 15px;
    background: #272727;
    margin: 0;
}
.content-search {
    margin-top: 200px;
}
.content-footer p{
    margin:0;
}
.content-search h1{
    color: #fff;
    font-weight: 300;
    margin-bottom: 30px;
}
.content-search input{
    height: 60px;
    border-radius: 7px;
    font-size: 20px;
    text-align: center;
}

.icon-loupe {
    width: 100px;
}