body{
    background: linear-gradient(to bottom, #1487cb 25%, #1f5cc0 100%);
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    min-height: 100vh;
}
.title {
    margin: 0 0 10 px;
    font-weight: 300;
}
.form-login {
    text-align: center;
    margin: 0 auto;
    padding: 40px 30px;
    background: #ffffff;
    max-width: 400px;
    border-radius: 7px;
    box-shadow: rgba(0,0,0, 0,2);
}
.form-group {
    margin-bottom: 1rem;
}
.login-cases {
    width: 100%;
    padding: .375rem .75rem;
    border-radius: .25rem;
    border: 1px solid #ced4da;
}
.logos-white {
    margin: 40px auto 30px;
    width: 250px;
    display: block;
}
.button-login {
    padding: 12px 30px;
    text-transform: uppercase;
    border-radius: 5px;
    background: #002f7d;
    line-height: 1;
    color: #dfebe4;
}


