body {
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.column-center {
    text-align: center;
}
.bar-nav {
    background: #ffffff;
    padding: 15px;
    height: 60px;
}
.logos-black2 {
    width: 140px;
}
.form-search {
    margin: 0 auto;
    display: inline-block;
}
.contain-central {
    background: linear-gradient(to bottom, #1487cb 25%, #1f5cc0 100%);
    padding-top: 100px;
}
.icon-attention {
    width: 100px;
    margin-bottom: 8px;
}
.search {
    border: none;
    padding: 0 0 3px 30px;
    width: 700px;
    position: absolute;
    left: 33%;
    top: 20px;

}
.log-user2 {
    display: inline-block;
    line-height: 0.1;
}
.login{
    display: inline-block;
    right: 0;
    position: absolute;
    padding-right: 15px;
    top: 10px;
}
.logout2 {
    display: none;
}
.column-right {
    text-align: right;
}
.column-p {
    line-height: 1.2;
    color: #bbe5ff;
}
h2 {
    color: #ffffff;
    font-weight: 300;
    font-size: 25px;
    margin: 0px 0px 25px;

}
.column-h1 {
    font-weight: 500;
    color: #ffffff;
}

.contener {
    background: #164c92;
    padding: 50px 0px 70px;
}
.column-title {
    text-align: center;
    margin: 0 0 48px;
    color: #ffffff;
}
.img-history {
    width: 80px;
}
.title-history {
    font-weight: 300;
    margin: 0;
}
.text-title {
    font-weight: 300;
}
.column-title-table {
    padding: 10px 15px;
}
.column-table {
    padding: 8px 15px;
    border-bottom: 1px dashed #ffffff;
}
.table-history {

}
.tbody {
    overflow-y: scroll;
    background: #123d75;
    color: #ffffff;
    max-height: 390px;
}
.thead {
    background: #86CBF5;
    color: #002f7d;
    font-weight: 500;
}
.column-table2 {
    padding: 8px 15px;
}
.button1 {
    width: 100%;
}
.column {
    height: 300px;
    padding: 0px 25px;
    margin: 0px 0px 48px;
    transition: transform .2s;
}
.column:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.bouton {
    background: linear-gradient(to bottom, #1487cb 25%, #1f5cc0 100%);
    height: 300px;
    border-radius: 10px;
    padding: 40px 50px 30px;
}
.counter {
    font-size: 80px;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    color: #ffffff;
    margin-bottom: 0;
}
.categorie {
    font-size: 26px;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    color: #ffffff;
    margin-bottom: 0;
}
.sub-infos {
    font-size: 18px;
    text-align: center;
    line-height: 1.1;
    color: #ffffff;
    margin-bottom: 0;
}
.icon {
    width: 80px;
    margin: 10px auto 0;
    text-align: center;
    display: block;
}
.sub-case {
    color: #ffffff;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    margin-top: 10px;

}
.sub-case:hover {
    color: #fff60e;
}
.sub-bouton1 {
    border: 0;
    margin: 0px 24px 0px 0px;
    padding: 12px 30px;
    text-transform: uppercase;
    border-radius: 5px;
    background: #ffffff;
    line-height: 1;
}
.sub-bouton2 {
    border: 0;
    padding: 12px 30px;
    text-transform: uppercase;
    background: #002f7d;
    color: #ffffff;
    border-radius: 5px;
    line-height: 1;
}
.sub-column1 {
    margin: 48px auto 48px;
    border: 0px;
    color: #004bbe;
    text-align: right;
}
.sub-column2 {
    margin: 48px auto 48px;
    border: 0px;
    text-align: left;
    color: #ffffff;
}
