body {
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

.bar-nav {
    background: #ffffff;
    padding: 15px;
    height: 60px;
}

.logos-black2 {
    width: 140px;
}
.form-search {
    margin: 0 auto;
    display: inline-block;
}
.search {
    border: none;
    padding: 0 0 3px 30px;
    width: 700px;
    position: absolute;
    left: 33%;
    top: 20px;

}

.log-user2 {
    display: inline-block;
    line-height: 0.1;
}
.logout2 {

}
.login{
    display: inline-block;
    right: 0;
    position: absolute;
    padding-right: 15px;
    top: 10px;
}
.logout2 {
    display: none;

}

.contain-central {
    background: linear-gradient(to bottom, #1487cb 25%, #1f5cc0 100%);
    padding-top: 100px;
}
.icon-attention {
    width: 100px;
    margin-bottom: 8px;
}
.column-center {
    text-align: center;
}
.column-right {
    text-align: right;
}
.column-p {
    line-height: 1.2;
    color: #bbe5ff;
}

h2 {
    color: #ffffff;
    font-weight: 300;
    font-size: 25px;
    margin: 0px 0px 25px;
}

.column-h1 {
    font-weight: 500;
    color: #ffffff;
}
.button1 {
    width: 100%;
}
.column {
    height: 300px;
    padding: 0px 25px;
    margin: 0px 0px 48px;
    transition: transform .2s;
}
.column:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.bouton {
    background: linear-gradient(to bottom, #1487cb 25%, #1f5cc0 100%);
    height: 300px;
    border-radius: 10px;
    padding: 40px 50px 30px;
}

.counter {
    font-size: 80px;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    color: #ffffff;
    margin-bottom: 0;
}
.categorie {
    font-size: 26px;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    color: #ffffff;
    margin-bottom: 0;
}
.sub-infos {
    font-size: 18px;
    text-align: center;
    line-height: 1.1;
    color: #ffffff;
    margin-bottom: 0;
}

.icon {
    width: 80px;
    margin: 10px auto 0;
    text-align: center;
    display: block;
}
.sub-case {
    color: #ffffff;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    margin-top: 10px;

}
.sub-case:hover {
    color: #fff60e;
}
.sub-bouton1 {
    border: 0;
    margin: 0 24px 0 0;
    padding: 12px 30px;
    text-transform: uppercase;
    border-radius: 5px;
    background: #ffffff;
    line-height: 1;
}
.sub-bouton2 {
    border: 0;
    padding: 12px 30px;
    text-transform: uppercase;
    background: #002f7d;
    color: #ffffff;
    border: 0;
    border-radius: 5px;
    line-height: 1;
}
.sub-column1 {
    margin: 48px auto 48px;
    border: 0px;
    color: #004bbe;
    text-align: right;
}
.sub-column2 {
    margin: 48px auto 48px;
    border: 0px;
    text-align: left;
    color: #ffffff;
}
.back-img {
    background-image: url("../../image/weakspot-mesuer-empreinte-web.jpg");
    padding-top: 300px;
    padding-bottom: 300px;
}
.back-img2 {
    background-image: url("../../image/weakspot-mesuer-empreinte-web2.jpg");
    padding-top: 300px;
    padding-bottom: 300px;
}
.content-footer{
    text-align: center;
    padding: 10px 15px;
    background: #272727;
    margin: 0;
}
.img-sub-title {
    font-size: 64px;
    font-weight: 700;
}
.img-text {
    margin: 24px 0px 16px;
}
.img-button {
    padding: 12px 40px;
    border-radius: 5px;
    line-height: 0.5;
    text-transform: uppercase;
    margin: 16px 0px 0px;
    background: linear-gradient(to right, #1f5fc2 0%, #00bffe 100%);
}
.text-img {
    margin-top: 24px;
}

h3 {
    line-height: 0.9;
}
.footer {
    padding: 10px 15px;
    background: #272727;
    color: #ffffff;
    text-align: center;
}
.text-footer {
    margin: 0;
}